!target/*.jar
target/*
target/*.html
target/*.pom
target/*.asc
target/apidocs/*
target/classes/*
target/generated-sources/*
target/javadoc-bundle-options/*
target/maven-archiver/*
target/maven-status/*
test/
out/
*.iml
.idea/